<%- include('partials/header.ejs'); %>
    <div class="app-container">
        <section>
            <h1>Welcome to Node JS self learning website.</h1>
            <p>It does not matter how slowly you go as long as you don't stop.</p>
        </section>
    </div>
<%- include('partials/footer.ejs'); %>