<form method="post" action="/products" class="p-form">
    <label for="Name">Product Name</label>
    <input type="text" name="pName" placeholder="Black Digital Watch" />
    <label for="Category">Category</label>
    <input type="text" name="pCategory" placeholder="Accessories" />
    <input type="submit" value="Add Product" />
</form>